html, body {
    height: 100vh;
}
.container.is-fluid {
    font-family: "Lucida Grande";
    padding-left: 0;
    padding-right: 0;
}

a:hover {
    color: white;
    text-decoration-line: underline ;
}

.search-input {
    height: 75px;
    text-align: center;
}

.searching-input {
    padding: 10px 0px 0px 10px;
}

.searching-input input:focus {
    box-shadow: inset 0 .0625em .125em #217a21;
}

.input:focus {
    border-color: #e7e7e7;
}

.columns {
    padding: 0;
}

.container {
    padding: 10px;
}

.input::placeholder {
    color: #000000;
    text-align: center;
}

.input:hover {
    border-color: #e7e7e7;
}

.hero-body {
    padding: 0;
}

.logo h1, .logo h2 {
    color: white;
}

.logo {
    background-color: #0d2930;
}

.mnu {
    padding: 0;
    background-color: #0d2930;
}

.maincontent {
    padding: 0;
    height: 72vh;
}

.menu {
    padding-left: 3vw;
    padding-top: 40px;
}

.menu li a {
    color: white;
}

.menu p {
    color: #bababa;
}
section .section {
    font-weight: 400;
    text-align: center;
}

.textarea:not([rows]) {
    min-height: 9em;
}

.textarea:hover {
    border-color: #e7e7e7;
}

.invoiceCheckbox {
    font-weight: 600;
}

.apt-save-button{
    padding-top: 50px;
}

.renter-save-button{
    padding-top: 50px;
}

.select select:not([multiple]) {
    padding-right: 4.5em;
}

.select select:focus {
    border-color: lightgray;
    box-shadow: 0 0 0 .125em rgba(234, 234, 234, 0.25);
}

.textarea:focus {
    border-color: lightgray;
    box-shadow: 0 0 0 .125em rgba(233, 233, 233, 0.25);
}

.foot {
    background-color: #ececec;
    padding: 20px;
 }

.foot-text {
    text-align: center;
    color: white;
    background-color: #0d2930;
}

@media screen and (min-width:1024px) {
    .section.is-medium {
        padding:0;
    }
    .section.is-large {
        padding:0;
    }
}

@media screen and (min-width:769px),print {
    .hero.is-large .hero-body {
        padding: 0;
    }
}
