
html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

body {
    overflow: inherit;
    background-image: url("images/foto1.jpg");
    background-size: cover;
}
.search-input {
    text-align: center;
    border-color: #9d9d9d;
    height: 70px;
}

.search-input:hover {
    box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}

.searching {
    padding-top: 35px;
    padding-left: 10px;
}

.input::placeholder {
    text-align: center;
}

.logo h1, .logo h2 {
    color: white;
}

.logo {
    background-color: #0d2930;
}

.mnu {
    padding: 0;
    background-color: #0d2930;
}

.nav-statistic {
    padding-bottom: 20px;
}

.apt-save-button, .renter-save-button{
    float:right;
    padding-right: 30px;
}

.menu {
    padding-left: 3vw;
    padding-top: 40px;
}

.menu li a {
    color: white;
}

.main {
    min-height: 690px;
}

.menu p {
    color: #bababa;
}

.textarea:not([rows]) {
    min-height: 9em;
}

.textarea:hover {
    border-color: #e7e7e7;
}

.invoiceCheckbox {
    font-weight: 600;
}

.select select:not([multiple]) {
    padding-right: 4.5em;
}

.select select:focus {
    border-color: lightgray;
    box-shadow: 0 0 0 .125em rgba(234, 234, 234, 0.25);
}

.textarea:focus {
    border-color: lightgray;
    box-shadow: 0 0 0 .125em rgba(233, 233, 233, 0.25);
}

.mnu {
    padding: 10px;
}

.title.msg {
    font-size: medium;
}

.rntrs, .noFree, .free {
    padding-top: 15px;
    font-size: medium;
}

.delete:hover {
    background-color: rgba(206, 31, 31, 0.83);
}

.foot-text {
    text-align: center;
    color: white;
    background-color: #0d2930;
    padding: 5px;
}

