

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

}
#wrapper{
    display: grid;
    /*grid-template-rows: 20% 60% 20%;
    grid-template-columns: 100%;*/
    grid-template-areas:
            'hd'
            'mn'
            'ft';
}
.header{
    display: flex;
    grid-area: hd;
    background-color: darkblue;
    height: 300px;
}


.main{
    grid-area: mn;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seachfield{
    align-items: flex-start;
    display: flex;

    height: 100vh;
    width: 100vw;
}
.search-input{
    padding: 50px 50px 0px 50px;
    align-self: center;
}
input{
    height: 60px;
    width: 75vw;
}

#apartment{
    height: 100vh;
}
#renter{
    height: 100vh;
}
.footer{
    grid-area: ft;
    background-color: aqua;
    display: flex;
    height: 300px;
}



/*label {
    text-align: right;
    width: 75px;
    padding-right: 20px;
}*/

